body {
	font-family:sans-serif;
	text-align:center;
}

h3 {
	font-family:Cookie ,Georgia, Serif;
	margin-top:-70px;
	font-size:30px;
}
#description{
	background-color:gray;
	}
	

#nav {
	width:1100px;
	height:100px;
	margin:0 auto;
	margin-top:-70px;
	text-align:center;
	word-spacing:1.8em; 
	background:white

}
#nav_wrapper{
	height:60px;
	width:1100px;
	background:white;
	margin-top:100px;
	opacity:0.7;
	filter:alpha (opacity=70);
	text-align:center;

}

#nav_wrapper ul li {
	list-style:none;
	display:inline-block; /*this puts the elements in line with equal spacing between them*/
	font-family:Cookie, Georgia, Serif;
	font-size:45px;
	padding:20px;
	margin-right:-20px;

}

#nav_wrapper a{
	color:white;
	text-decoration:none;
	margin-top:20px;
	padding:10px;
}

#nav_wrapper ul li:hover {
	color: #cc0000;
	background:none;
	transition:all 0.45s;
	opacity:0.9;
	filter:alpha (opacity=90)
}

#nav_wrapper ul li a#onlink{
	background:#FFF;
	color:#000;

}



* {margin: 0; padding: 0;}
 
body {
	/* <!-- src: http://subtlepatterns.com/?p=1045 --> */
	/* background: url('dark_geometric.png'); */
	margin-top: 70px;
	margin-bottom:70px;
	margin-left:70px;
	margin-right:70px;
	line-height: 1.42857143;
	color: #333333;
	background-color: #ffffff;
	-webkit-box-shadow:0px 2px 5px #1c1c1c;
	-moz-box-shadow:0px 2px 5px #1c1c1c;
	box-shadow:0px 2px 5px #1c1c1c;
}
 
#container {
	width: 1000px;
	overflow: hidden;
	margin: 50px auto;
	background: black;
}

header {
	width: 800px;
	margin: 40px auto;
}
 
header h1 {
	text-align: center;
	font: 100 60px/1.5 Helvetica, Verdana, sans-serif;
	
}
 
header p {
	font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
	text-align: justify;
}
 
.map {
position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0
}
 
/*photobanner*/
 
.photobanner {
	height: 233px;
	width: 3550px;
	margin-bottom: 80px;
}

/*keyframe animations*/
.first {
	-webkit-animation: bannermove 30s linear infinite;
	   -moz-animation: bannermove 30s linear infinite;
	    -ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	        animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}

.photobanner {
	height: 233px;
	width: 3550px;
	margin-bottom: 80px;
}
 
.photobanner img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
 
.photobanner img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
 
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.nvgt{
    position:absolute;
    top: 120px;
    height: 50px;
    width: 30px;
    opacity: 0.6;
}
.nvgt:hover{
    opacity: 0.9;
}
#prev{
    background: #000 url('./image/prev.png') no-repeat center;
    left: 0px;
}
#next{
    background: #000 url('./image/next.png') no-repeat center;
    right: 0px;
}

/* For generic page styles. Not for sliders. */

h2 {display:inline;}
.div1, .div2 {width:717px;margin:0 auto;}
.div1 {margin-top:30px;margin-bottom:60px;text-align:center;line-height:20px;}
.div1 P {font-size:18px;}
.div1 a, .div2 a {color:#07C; }
.div1 a {margin:0 8px;}
.div1 a.current {color:black; text-decoration:none;}
.div2 {margin-top:70px;}
.div2 li {padding-top:6px;padding-bottom:6px;}
.green {color:Green;}
.cn {font-family: "Courier New", Georgia;}
#status {display:inline-block; margin-left:26px;line-height:50px;height:50px;vertical-align:middle;}

.code
{
    border: dashed 1px #BCBCCB; padding:8px 12px; background-color: #F3F3F9; white-space:pre; font-family:"Courier New", Georgia;
    font-size:12px; margin:6px 0;overflow:auto; 
}

/* http://www.menucool.com */

#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame 
{
    position:relative;
    width:700px;
    margin:0 auto; /*center-aligned*/
}

#slider, #slider div.sliderInner {
    width:700px;height:306px;/* Must be the same size as the slider images */
}

#slider {
	background:#fff url(loading.gif) no-repeat 50% 50%;
	position:relative;
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
	margin-top:70px
}

/* image wrapper */
#slider a.imgLink, #slider div.video {
	z-index:2;
	position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}
#slider .video {
	background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider div.mc-caption-bg, #slider div.mc-caption-bg2 {
	position:absolute;
	width:100%;
	height:auto;
	padding:10px 0;/* 10px will increase the height.*/
	left:0px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom:0px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size: 0;
}
#slider div.mc-caption-bg 
{
    /* NOTE: Its opacity is to be set through the sliderOptions.captionOpacity setting in the js-image-slider.js file.*/
	background:Black;/* or any other colors such as White, or: background:none; */
}
#slider div.mc-caption-bg2 {
    background:none;
}
#slider div.mc-caption {
	font: bold 14px/20px Arial;
	color:#EEE;
	z-index:4;
	text-align:center;
    background:none;
}
#slider div.mc-caption a {
	color:#FB0;
}
#slider div.mc-caption a:hover {
	color:#DA0;
}


/* ------ built-in navigation bullets wrapper ------*/
/* Note: check themes\2\js-image-slider.css to see how to hide nav bullets */
#slider div.navBulletsWrapper  {
    top:320px;/* Its position is relative to the #slider */
	text-align:center;
	background:none;
	position:relative;
	z-index:5;
}

/* each bullet */
#slider div.navBulletsWrapper div 
{
    width:11px; height:11px;
    font-size:0;color:White;/*hide the index number in the bullet element*/
    background:transparent url(bullet.png) no-repeat 0 0;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 6px;/* set distance between each bullet*/
}

#slider div.navBulletsWrapper div.active {background-position:0 -11px;}


/* --------- Others ------- */

#slider div.loading 
{
    width:100%; height:100%;
    background:transparent url(loading.gif) no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}

#slider img, #slider>b, #slider a>b {
	position:absolute; border:none; display:none;
}

#slider div.sliderInner {
	overflow:hidden; 
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}


#Prev {
	font-family:"Times New Roman", Georgia, Serif;
	font-size:30px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 200px;
}

#Prev2 {
	font-family:"Times New Roman", Georgia, Serif;
	font-weight:bold;
	font-size:40px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 200px;
}
#Prev3 {
	font-family:"Times New Roman", Georgia, Serif;
	font-weight:bold;
	font-size:30px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 200px;
	color: 	#800000;
}







